:root {
    --health-color: #975da2;
    --urban-color: #ff6a54;
    --intangible-color: #f8e264;
    --environmental-color: #29bb62;

    --welfare-points: #ff9136;
    --legitimacy-points: #36b6e7;

    --color-primary: #4AAE9B;
    --color-primary-2: #6ABCAA;

    --row-color: #bad9b5;
    --background-color: #fbfcf4;
    --font-color: #003949;
}
